@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import './partials/button.scss';
@import './partials/homepage.scss';
@import './partials/forms.scss';

$break-small: 600px;
$break-medium: 980px;
$break-large: 1024px;
$fontheadercolor: hsl(290,0%,49%);
$fontdescolor: hsl(290,0%,50%);
$fontformcolor: hsl(290,0%,70%);

hr{
  margin-left: 10%;
  width:80%;
  margin-bottom: 5%;
}


html {
  background-color: floralwhite;
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $fontdescolor;
  display: flex;
  justify-content: center;


  h1 {
    font-size: 45px;
    font-weight: bold;
    color: $fontheadercolor;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-right: 10%;
  }

  h3 {
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10%;
  }

  #first_image {
    margin-top: 1px;
    box-sizing: border-box;
    max-width: 80%;
    padding-top: 5px;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  button {
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
  }

  #userAccess {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    justify-content: flex-end;

  }

  #enterBtn {
    width: 100%;
  }

  #signUpBtn {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 30%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 40%;
  }

  #backBtn {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  #loginBtn {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 30%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 40%;
  }

  #delete {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  #edit {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  p {
    font-size: 12px;
    margin-left: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;

  }

  input {
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 5px;
    border: 1px solid #ccc;
    color: $fontdescolor;
  }

  #description {
    margin-top: 6px;

    padding-top: 10px;
    height: 120px;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #ccc;
    color: $fontdescolor;
  }

  #editFieldsBtn {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  #submitNewPhoto {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }
@media screen and (min-width: $break-small) {

  #container {

    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    justify-content: space-around;

    .photo {
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 20px;

      p {
        margin-left: 0px;
      }

      img {
        max-height: 350px;
        max-width: 350px;
        margin-bottom: 5px;
      }
    }

  }

}

  @media screen and (max-width: $break-small) {


    #container {
      max-width: 320px;

      img {
        margin-left: 14%;
        max-width: 280px;
        margin-top: 20px;
      }

      p {
        margin-left: 14%;
      }


    }

    #photo_title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10%;
      margin-left: 0px;

      h2 {
        margin-left: 3%;
      }

      h3 {
        margin-left: 3%;
      }
    }

    .side_photo {
      visibility: hidden;
      width: 0px;
    }

    #main_photo {
      max-width: 300px;

      .errormessage {
      color: hsl(0, 80%, 70%);
      font-size: 12px;
      margin-left: 0px;
      }


      img {
        max-width: 300px;
      }

      h3 {
        max-width: 100%;
        margin-right: 0px;

      }

    }

  }

  @media screen and (max-width: $break-medium ) and (min-width: $break-small ) {
    background-color: floralwhite;

    #photo_title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0px;

      h2 {
        margin-left: 0px;
      }

      h3 {
        margin-left: 0px;
      }
    }

    #main_photo {
      h3 {
        margin-right: 0px;
        max-width: 500px;
      }


      .errormessage {
      color: hsl(0, 80%, 70%);
      font-size: 12px;
      margin-left: 0px;
      }
    }

    .side_photo {
      visibility: hidden;
      width: 0px;
    }

    h2 {
      margin-left: 3%;
    }

  }

  @media screen and (min-width: $break-medium) {
    background-color: floralwhite;

    h1 {
      font-size: 60px;
    }





    #photo_title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0px;

      h2 {
        margin-left: 3%;
      }

      h3 {
        margin-left: 3%;
      }
    }

  }

  .form {

    .errormessage {
      color: hsl(0, 80%, 70%);
      font-size: 12px;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
    }

    h2 {
      font-size: 20px;
    }

    @media screen and (min-width: $break-large) {
      p {
        font-size: 24px;
      }

      h2 {
        font-size: 30px;
      }

    }
  }



  article {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin-left: 10%;

    #main_photo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .errormessage {
      color: hsl(0, 80%, 70%);
      font-size: 12px;
      margin-left: 0px;
      }


      @media screen and (min-width: $break-medium ) {
        max-width: 500px;

        img {
          max-width: 500px;
        }
      }

      h3 {
        margin-left: 2px;
        margin-top: 20px;
      }



      h2 {
        margin-left: 0px;
      }


    }

    .side_photo {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      max-width: 40%;

      .each_side_photo {
        flex: 1 1 auto;

        img {
          max-width: 300px;
        }

      }


    }

  }


}













