@import url(https://fonts.googleapis.com/css?family=Ubuntu);
$break-small: 600px;
$break-large: 1200px;
$fontheadercolor: hsl(290,0%,49%);
$fontdescolor: hsl(290,0%,75%);

html {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $fontdescolor;

  h1 {
    font-size: 40px;
    margin-top: 10px;
    color: $fontheadercolor;
    margin-left: 10%;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 25px;
    margin-left: 10%;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  img {
    box-sizing: border-box;
    max-width: 100%;
    padding: 10%;
  }

  @media screen and (max-width: $break-small) {
    background-color: floral-white;
  }

  @media screen and (min-width: $break-small) {
    background-color: lightyellow;
  }
}


