@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import './partials/button.scss';
@import './partials/homepage.scss';

$break-small: 600px;
$break-large: 900px;
$fontheadercolor: hsl(290,0%,49%);
$fontdescolor: hsl(290,0%,50%);
$fontformcolor: hsl(290,0%,70%);


html {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $fontdescolor;
  display: flex;
  justify-content: center;



  h1 {
    font-size: 45px;
    font-weight: bold;
    color: $fontheadercolor;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-right: 10%;
  }

  h3 {
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10%;
  }

  img {
    margin-top: 1px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 10%;
    padding-top: 5px;
    padding-bottom: 5%;
  }

  button {
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
  }

  #delete {
    margin-left: 2px;
  }

  #edit {
    margin-left: 10%;
  }

  p {
    font-size: 12px;
    margin-left: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;

  }

  input {
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 5px;
    border: 1px solid #ccc;
    color: $fontdescolor;
  }

  #description {
    margin-top: 6px;

    padding-top: 10px;
    height: 120px;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #ccc;
    color: $fontdescolor;
  }

  #editFieldsBtn {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  #submitNewPhoto {
    font-size: 12px;
    padding: 2px;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 2px;
    width: 80%;
  }

  #photos {
    img {
      padding-bottom: 10px;
      padding-top: 30px;
    }
  }

  #new_photo {
    float: right;
    margin-right: 10%;
    margin-top: 0px;
  }

  @media screen and (max-width: $break-small) {
    background-color: floral-white;
  }

  @media screen and (min-width: $break-large) {
    background-color: hsl(200, 100%, 95%);

    h1 {
      font-size: 60px;
    }

  }

  .form {
    p {
      margin-top: 10px;
      font-size: 16px;
    }

    h2 {
      font-size: 20px;
    }

    @media screen and (min-width: $break-large) {
      p {
        font-size: 24px;
      }

      h2 {
        font-size: 30px;
      }

    }
  }

}













