extends ../layout

h1(id='indexHeader') Cool Photos

block content
  div(id="first_image")

  div(id="container")
    button(id="new_photo" class="btn btn-blue btn-border-o")|Add a Photo
    div(id="photos")
      each photo in photos
        a(href='/gallery/' + photo.id)
          img(src= photo.link)
        p= photo.author
        p= photo.link


  script(src="/js/index.js")
