extends ../layout

h1(id='indexHeader') Cool Photos

block content
  button(id="new_photo" class="btn btn-blue btn-border-o")|Add a Photo

  img(id="first_image" src="https://unsplash.it/1500/750")

  div(id="container")
    each photo in photos
      div(class="photo")
        a(href='/gallery/' + photo.id)
          img(src= photo.link)
        p= photo.author
        p= photo.link


  script(src="/js/index.js")
