<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Login
body
  form(method="POST" action="/login")
    input(type='text' name="username")
    input(type='password' name="password")
    button(type="submit")|Login