extends ../layout

block content
  form(method="POST" class="form" action="/login")
    h3 UserName
    input(type='text' name="username")
    h3 Password
    input(type='password' name="password")
    p(class="errormessage")= errormessage
    button(id="loginBtn" class="btn btn-blue btn-border-o")|Login

