extends ../layout

block content
  h2 Add a Photo!
  article
    p Author
    input(id="author")
    p Link
    input(id="link")
    p Description
    input(id="description")
    br
    button(id="submitNewPhoto")|Submit

  script(src="/js/new.js")