extends ../layout

block content
  h1(id="photoHeader") Add a Photo!
  p Author
  input(id="author")
  p Link
  input(id="link")
  p Description
  input(id="description")
  input(type="submit" id="submitNewPhoto")