doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
    title Express Gallery
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
  body
    h1 Photos

    block content

