
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")

    title Express Gallery
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
  body
    div(class="row header-container")
      h1(class="header-title")|_ARCHITEKT
    //- div(class="row")
    //- div(class="photosCanvas")
    //-   div(class="small-12 medium-4 columns")





  block content

