@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* line 7, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
html {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #bfbfbf; }
  /* line 12, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
  html h1 {
    font-size: 45px;
    font-weight: bold;
    color: #7d7d7d;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 40px; }
  /* line 21, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
  html h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-right: 10%; }
  /* line 29, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
  html h3 {
    font-size: 18px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10%; }
  /* line 37, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
  html img {
    margin-top: 1px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 10%;
    padding-top: 5px; }
  @media screen and (max-width: 600px) {
    /* line 7, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
    html {
      background-color: floral-white; } }
  @media screen and (min-width: 600px) {
    /* line 7, /home/owen/DevLeague/2 DevLeague Exercises/express-gallery/scss/styles.scss */
    html {
      background-color: lightyellow; } }
