@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* line 4, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
html {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal; }
  /* line 10, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
  html h1 {
    position: relative;
    font-size: 40px;
    margin-top: 0;
    color: #222222;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem; }

/* line 22, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
article {
  text-align: center; }

/* line 26, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
input {
  padding: 3px; }

/* line 30, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
#submitNewPhoto {
  padding: 2px; }

/* line 34, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
img {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  padding: 5px;
  border: 1px grey;
  border-radius: 15px;
  max-width: 80%;
  padding: 20px; }

@media screen and (max-width: 600px) {
  /* line 49, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
  html {
    background-color: floral-white; } }

@media screen and (min-width: 600px) {
  /* line 49, /Users/PamelaYang/Desktop/DevLeague/express-gallery/scss/styles.scss */
  html {
    background-color: lightyellow; } }
